<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Url-shortener home</title>
    <style>
        .align-center{
            text-align:center;
            font-family:cursive;
        }
        .center {
            margin: auto;
            width: 50%;
            border: 5px solid #ffffff;
            padding: 2px;
            box-shadow:1px 1px 5px;
        }
        .center-block {
            display: block;
            margin-right: auto;
            margin-left: auto;
        }
        input {
            font-size: 20px;
            text-align: center;
        }
    </style>
</head>
<body>

    <h1 class="align-center"><strong>Url-shortener</strong></h1>
    <div class="center">
        <h2 class="align-center">Paste the URL to be shortened</h2>
        <form method="POST" action="go">
            {% csrf_token %}
            <br>
            <input class="center-block" type="text" name="longurl" size="50" placeholder="Shortener your link">
            <br>
            <input class="center-block" type="submit" value="Shorten">
            <p class="align-center">Url-shortener is a free tool to shorten a URL or reduce a link<br>
                Use our URL Shortener to create a shortened link making it easy to remember</p>
        </form>
    </div>

</body>
</html>